<div class="container-fluid pb-5">
    <div class="row card">
        <div class="card-header">
            <h4 class="card-title"> Location</h4>
        </div>
        <div class="card-body">
            <table id="location-table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Objets</th>
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Dépensé</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in 0..10 %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>{{ "$person->name" }}</td>
                        <td>{{ "$person->forename" }}</td>
                        <td>{{ "$person->city_of_birth" }}</td>
                        <td>{{ "$person->date_of_birth" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div> 
    </div>
   
</div>